/* 기본 */
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
body{
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}

/* 레이아웃 */
.body{
    width: 1000px;
    height: 3250px;
    background-color: #ffffff;
}
.top{
    width: 1000px;
    height: 150px;
    border-bottom: 5px solid #a3c786bb;
}
.middle{
    width: 1000px;
    height: 3000px;
}
.bottom{
    width: 1000px;
    height: 100px;

    border-top: 5px solid #a3c786bb;

    /* text */
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    color: #ffffff;
    background-color: #a3c78692;
}

/* top */
.title{
    width: 780px;
    height: 150px;
    float: left;

    /* text */
    padding-left: 20px;
    line-height: 150px;
    font-size: 60px;
    color: #4e6d34;
    font-weight: bold;

    text-shadow:-15px 20px 2px #ececec;
}
.end{
    width: 200px;
    height: 150px;
    float: left;
}
.end_btn{
    width: 150px;
    height: 60px;
    background-color: #a3c786;
    float: right;
    margin-top: 45px;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* border : 4px solid #96b979; */

    /* text */
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    color: #ffffff;
}

/* middle */
.month_box{
    width: 1000px;
}
.month{
    width: 900px;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #a3c786b0;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    list-style: none;
    padding: 20px;

}
.month_text{
    text-align: center;
    display: block;
    height: 55px;
    width: 200px;
    font-size: 40px;
    color: #ffffff;
    border-bottom: 4px solid #a3c786b0;
}
.month:hover{
    background-color: #a3c786f1;
}

/* login */
form {
    position: relative;
    top: 100px;
    margin: 0 auto;
    padding: 45px;
    width: 300px;
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

.login_input {
outline: none;
border: none;
background: #f2f2f2;
width: 270px;
margin-bottom: 15px;
padding: 15px;
font-size: 14px;
}
.login_btn{
    margin-top: 30px;
    outline: none;
    border: none;
    background: #a3c786b8;
    width: 300px;
    padding: 15px;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}
.login_btn:hover{
    background: #a3c786;
}
